<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Carlos Marzal Romon 
	<a href="https://github.com/cmaro/quiz_2017/">enlace a github</a>

</p>

<img src="https://moodle.upm.es/titulaciones/oficiales/pluginfile.php/684384/user/icon/essential/f1?rev=1" />

